.SearchBar {
  width: 100%;
  padding: 30px 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.SearchBar .SearchBar__title{
  color: var(--default-text-color);
  font-family: var(--default-font);
}

.SearchBar .SearchBar__input {
  width: 90vw;
  padding: 5px;
  outline: none;
  max-width: 400px;
  box-shadow: none;
  background-color: transparent;
  border: 1px solid #3498db; 
  color:var(--default-text-color);
  font-size: 26px;
}
