.ListMovies{
    min-height: 100vh;
    width: 100%;
}

.ListMovies .container{
    max-width: 1700px;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.ListMovies .container > * {
    margin: 20px 10px;
}

@media(max-width:600px){
 
    .ListMovies .container > * {
        margin: 10px 5px;
    }

}
